.yzy-pullToRefresh-container {
  overflow: auto;
  height: 100%;
  touch-action: pan-y;

  .yzy-pullToRefresh-body {
    position: relative;
    height: 100%;
    transition-property: transform;
    touch-action: pan-y;

    .yzy-pullToRefresh-header {
      position: absolute;
      left: 0;
      width: 100%;
      transform: translateY(-100%) translateZ(1px);
      display: flex;
      justify-content: center;
      align-items: center;

      .yzy-pullToRefresh-svg {
        circle {
          stroke-linecap: round;
          -webkit-transition: stroke-dashoffset .25s;
          transition: stroke-dashoffset .25s;
        }
      }

      .yzy-pullToRefresh-svg-box {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        transform: translateX(-50%);
        text-align: center;
      }

      //.yzy-pullToRefresh-textMap {
      //  display: flex;
      //  justify-content: center;
      //  align-items: center;
      //  width: 100%;
      //  height: 100%;
      //  font-size: 24px;
      //
      //  .loading-box {
      //    display: flex;
      //    justify-content: center;
      //    align-items: center;
      //
      //    .loading-text {
      //      margin-left: 12px;
      //    }
      //  }
      //}
    }
  }
}


